<div class="jumbotron">
  <h1>it's going to be messi</h1>
<p>click here to <%link_to "sign up", "#", class: "btn btn-primary" %>
<button type="button" class="btn btn-primary">sign up</button>

</p>
 
</div>


 